#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Mod_unbond module configuration
########################################
#
#    Mod_Unbond.Enable
#        Description: Enable Mod_Unbond module and print "Hello" message at server start
#        Default:     0 - Disabled
#                     1 - Enabled
#

Mod_Unbond.Enable = 0
